/** COLOR PALETTE:
  *
  * Background: #F5F5F5
  * Primary Text: black
  *
  * Primary color: #FF7D19 (SixtOrange)
  * Primary color_text : white
  * Accent color: #D81B60
  * Accent color_text: black
  */

/* GLOBAL */

* {
    font-family: Roboto, 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    background-color: #FF7D19;
    position: absolute;
    width: 100%;
    top: 0px;
    bottom: 0px;
}

li {
    box-sizing: border-box;
    height: 48px;
    padding: 12px;
    font-size: 24px;
    top: 64px;
    border-bottom: 1px solid #F5F5F5;
    position: relative;
}

body {
    background-color: #F5F5F5;
    color: #080707;
}

.header-top{
    background-color: #111119;
    z-index: 100;
}

.header{
    color: #080707;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background-color: transparent url(/img/sixt_logo_horizontal_white.svg);
    width: 100%;
    height: 64px;
    z-index: 100;
}

.control-bar-left{
    position: absolute;
    height: 100%;
    width: 20%;
    top: 0px;
    background-color: #FF7D19;
    z-index: -1;
}

.container-right{
    position: absolute;
    top: 64px;
    bottom: 0px;
    left: 20%;
    width: 80%;
    overflow-y: auto;
}

/* FIXME relative position*/
.tableauPlaceholder {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
}