[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Flask-RESTful = "*"
Flask-Migrate = "*"
Flask-SQLAlchemy = "*"
flask-marshmallow = "*"
Flask-JWT-Extended = "*"
marshmallow-sqlalchemy = "*"
python-dotenv = "*"
passlib = "*"
tox = "*"
"e1839a8" = {path = ".", editable = true}
flask-migrate = "*"
requests = "*"
python-dateutil = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6"
